<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389058693454-j48uhnlvo0ghcjm9cuh55s6a8m81hge5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389058693454-j48uhnlvo0ghcjm9cuh55s6a8m81hge5</string>
	<key>API_KEY</key>
	<string>AIzaSyA08AUPi0yjvkTiQIk4Ac3udAD0be51EU0</string>
	<key>GCM_SENDER_ID</key>
	<string>389058693454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cotemig.ifood-cliente-18</string>
	<key>PROJECT_ID</key>
	<string>appcomidaios-6261a</string>
	<key>STORAGE_BUCKET</key>
	<string>appcomidaios-6261a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389058693454:ios:fdf48ca64ef9984ec7b61f</string>
	<key>DATABASE_URL</key>
	<string>https://appcomidaios-6261a.firebaseio.com</string>
</dict>
</plist>