<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932421242295-0n3557psm5up9514thuaqu97iviocbl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932421242295-0n3557psm5up9514thuaqu97iviocbl7</string>
	<key>API_KEY</key>
	<string>AIzaSyA_xu2v_ve5hhlia9-9hDq0ytfoo0k6N2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>932421242295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.JoaoGabriel-3B.produtos-IOS-JoaoGabrielbr.com.JoaoGabriel-3B.produtos-IOS-JoaoGabriel</string>
	<key>PROJECT_ID</key>
	<string>produtos-b3f72</string>
	<key>STORAGE_BUCKET</key>
	<string>produtos-b3f72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932421242295:ios:02c8131679c4c37d</string>
	<key>DATABASE_URL</key>
	<string>https://produtos-b3f72.firebaseio.com</string>
</dict>
</plist>